<div *ngIf="product.title" class="card" style="height: 20rem;">
    <img *ngIf="product.imageUrl" class="card-img-top" src="{{ product.imageUrl }}" alt="{{ product.title }}" style="height: 12rem;">
    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.price | currency:'USD':true }}</p>
    </div>
    <div class="card-footer" *ngIf="showActions && shoppingCart" >
        <button 
            *ngIf= "shoppingCart.getQuantity(product) === 0; else updateQuantity"
            (click)="addToCart()"
            class="btn btn-secondary btn-block">
            Add to Cart
        </button>
    </div>
    <ng-template #updateQuantity>
        <app-product-quantity [product]="product" [shopping-cart]="shoppingCart"></app-product-quantity>
    </ng-template>
    
</div>