<h1>Shopping Cart</h1>
<div class="row" *ngIf="cart$ | async as cart">
  <div class="col-8">
    You have {{ cart.totalItemsCount }} items in your shopping cart.
  </div>
  <div class="col-4">
    <button *ngIf="cart.items.length" (click)="clearCart()" class="btn btn-light btn-sm float-right">
      Clear Shopping Cart
    </button>
  </div>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px">Quantity</th>
        <th class="text-right" style="width: 230px">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
        </td>
        <td> {{ item.title }}</td>
        <td>
          <app-product-quantity [product]="item" [shopping-cart]="cart"> </app-product-quantity>
        </td>
        <td class="text-right"> {{ item.price | currency: 'USD': true }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4" class="text-right">{{ cart.totalPrice | currency: 'USD': true }}</th>
      </tr>
    </tfoot>
  </table>
  <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-primary">Check Out</a>
</div>
