<div style="padding: 10px;">
    <p>
        <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
    </p>

    <p>
        <input #query 
                (keyup)="filter(query.value)"
                type="text" class="form-control" placeholder="Search...">
    </p>

    <table class="table table-bordered table-striped" [svData]="filteredProducts" #sv="svDataTable" [svRowsOnPage]="5" svSortBy="name" svSortOrder="asc">
        <thead>
            <tr>
                <th><sv-default-sorter by="name">Title</sv-default-sorter></th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of sv.data">
                <td>{{ t.title }}</td>
                <td>{{ t.price }}</td>
                <td>
                    <a [routerLink]="['/admin/products/',t.key]">Edit</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

