/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

$primary-color: purple;

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: $primary-color;
}

.list-group-item.active {
    background-color: $primary-color;
    border-color: $primary-color;
}

.no-gutters {
    align-items: center;
}

.fixed-top {
    border-bottom: 1px solid purple;
}

.btn-block {
    border-radius: 0;
}